/* VARIABLES */
:root {
  --red: rgb(233, 38, 42);
  --blue: rgb(26, 50, 92);
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

/* GLOBAL */
html {
  box-sizing: border-box;
}
/* best way to set box-sizing on everything */
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto';
  min-width: 768px;
}
a {
  text-decoration: none;
}
#mainContainer {
  min-width: 720px;
}

/* NAVBAR */
#logo-header {
  width: 90px;
}
#fixed-margin {
  display: block;
  height: 61px;
}
#login-name {
  color: var(--red);
}

/* MAIN BODY */
.main-body {

}

/* Auth Form */
#please-login,
#please-login2,
.auth-form-div {
  max-width: 500px;
  min-width: 100px;
  margin: auto;
}

/* Ghana Design Form */
#newDesignFormDiv {
  
}
#newDesignFormDiv hr {
  /* background-color: rgba(255, 0, 0, 0.2); */
}
#newDesignFormDiv label:not(.form-check-label) {
  font-weight: 500;
}
.chad-inline-radio {
  top: 34px;
}
.design-form-title {

}
.font-small {
  font-size: 0.9rem;
}
.print-notes {
  white-space: pre-line;
}
/* .design-form-title {
  background-color: rgba(233, 38, 42, 0.6);
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 4px rgba(233, 38, 42, 0.6);
  color: white;
} */
#loadFormLabels p {
  font-size: 0.875rem;
}
.critical-column {
  min-width: 30px;
}

/* Load Summary Component */
#loadSummaryDiv {
  margin: auto;
  font-size: 0.9rem;
}
.load-summary-title {
  width: 160px;
  text-align: left;
}
.load-summary-detail {
  width: 80px;
  text-align: right;
}
.load-summary-units {
  text-align: left;
  margin-left: 7px;
}
.load-summary-head {
  font-size: 0.95rem;

}
#loadSummaryDiv hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
#design-form-submit {
  width: 200px;
  height: 50px;
  margin: 20px;
}

/* User Permissions Table */
.permission-checkbox label {
  display: block;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
}

/* Design Tab */
.component-card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 350px;
}
.card-notebook {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 180px;
}

.sticky-note {
  background-color: #ffff8891;
}
.blue-note {
  background-color: #99b3ff;
}

#pv-details {
  background-color: #adebad;
}

#inverter-details {
  background-color: #ffcc99;
}

#charger-details {
  background-color: #99b3ff;
}

#battery-details {
  background-color: #cc99ff;
}


/* Tab stuff */
.content-h5 {
  color: var(--red);
  font-size: 20px; 
  font-weight: 500;
  margin-top: 30px;
}
.title-h5 {
  font-size: 20px; 
  font-weight: 500;
}
.title-card {
  font-size: 14px; 
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}
.content-card {
  font-size: 14px; 
  font-weight: 400;
  margin: 0;
  min-width: 200px;
}
.content-p {
  margin: 0px;
  margin-left: 10px;
}
.left-column {
  width: 150px;
  text-align: left;
}
.right-column {
  width: 150px;
  text-align: left;
}
#last-row-cost td {
  color: orangered;
  font-size: 1.3rem;
}

/* Utility Classes */
.max-900 {
  max-width: 900px;
}
.max-700 {
  max-width: 700px;
}
.max-500 {
  max-width: 500px;
}
.max-200 {
  max-width: 200px;
}
.max-160 {
  max-width: 160px;
}
.max-150 {
  max-width: 150px;
}
.max-100 {
  max-width: 100px;
}
.max-50 {
  max-width: 50px;
}

.min-70 {
  min-width: 70px;
}
.min-50 {
  min-width: 50px;
}

.width-70 {
  width: 70px;
}

.flex-grow-1 {
  flex-grow: 1;
}