/* VARIABLES */
:root {
  --red: rgb(233, 38, 42);
  --blue: rgb(26, 50, 92);
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

/* GLOBAL */
html {
  box-sizing: border-box;
}
/* best way to set box-sizing on everything */
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto';
  min-width: 768px;
}
a {
  text-decoration: none;
}
#mainContainer {
  min-width: 720px;
}

/* NAVBAR */
#logo-header {
  width: 90px;
}
#fixed-margin {
  display: block;
  height: 61px;
}
#login-name {
  color: var(--red);
}

/* MAIN BODY */
.main-body {

}

/* Auth Form */
#please-login,
#please-login2,
.auth-form-div {
  max-width: 500px;
  min-width: 100px;
  margin: auto;
}

/* Ghana Design Form */
#newDesignFormDiv {
  min-width: 660px;
}
.design-form-title {
  background-color: rgba(233, 38, 42, 0.6);
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 4px rgba(233, 38, 42, 0.6);
  color: white;
}
#loadFormLabels p {
  font-size: 0.875rem;
}

/* Load Summary Component */
#loadSummaryDiv {
  margin: auto;
}
.load-summary-title {
  width: 200px;
  text-align: left;
}
.load-summary-detail {
  width: 150px;
  text-align: right;
}

/* User Permissions Table */
.permission-checkbox label {
  display: block;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
}

/* Utility Classes */
.max-900 {
  max-width: 900px;
}
.max-700 {
  max-width: 700px;
}
.max-500 {
  max-width: 500px;
}
.max-200 {
  max-width: 200px;
}
.max-100 {
  max-width: 100px;
}
.max-50 {
  max-width: 50px;
}

.min-70 {
  min-width: 70px;
}
.min-50 {
  min-width: 50px;
}

.width-70 {
  width: 70px;
}

.flex-grow-1 {
  flex-grow: 1;
}